# files
*.db
*.pyc
*.pyo
*.pyd

# directories
__pycache__/
exports/
# virtual environments
venv/
.env/

# IDEs
.idea/
# logs
*.log
# coverage
.coverage
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Python egg files
*.egg
# distribution files
dist/
build/
